@use "../../../scss/abstracts" as a;
@use "../../../scss/base" as b;

.resume {
  height: 30rem;
  position: relative;
  overflow: hidden;

  &__text,
  &__text:link,
  &__text:visited {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: a.$color-primary;
    text-align: center;
    background-color: rgba($color: a.$color-secondary, $alpha: 0.5);
    padding: 5rem;
    border-radius: 0.5rem;

    & h3 {
      font-size: b.$font-size-large;
    }
  }
}

@media (max-width: 1000px) {
  .resume__text,
  .resume__text:link,
  .resume__text:visited {
    & h3 {
      font-size: b.$font-size-mid;
      width: 26rem;
    }
  }
}
@media (max-width: 700px) {
  .resume {
    height: 25rem;

    &__img {
      background-image: url("../../../assets/sections/resume/mobile-res.jpg");
      filter: blur(3px);
    }
  }
  .resume__text,
  .resume__text:link,
  .resume__text:visited {
    padding: 3rem;
    & h3 {
      font-size: b.$font-size-mid;
      width: 26rem;
    }
  }
}
@media (max-width: 550px) {
  .resume {
    height: 20rem;
  }
  .resume__text,
  .resume__text:link,
  .resume__text:visited {
    padding: 3rem;
    & h3 {
      font-size: b.$font-size-small-3;
      width: 20rem;
    }
  }
}
@media (max-width: 400px) {
  .resume {
    height: 15rem;
  }
  .resume__text,
  .resume__text:link,
  .resume__text:visited {
    padding: 2rem 0.5rem;
    & h3 {
      font-size: b.$font-size-small-3;
      width: 20rem;
    }
  }
}
@media (max-width: 300px) {
  .resume {
    height: 12rem;
  }
  .resume__text,
  .resume__text:link,
  .resume__text:visited {
    padding: 1rem;
    & h3 {
      font-size: b.$font-size-smal-2;
      width: 14rem;
    }
  }
}
