.image {
  width: 100vw;
  height: auto;
  filter: brightness(80%);
}

.paralalax-background {
  width: 100vw;
}

.paralalax-desc {
}
.paralalax-mob {
  display: none;
}

@media (max-width: 1100px) {
  .paralalax-desc {
    display: none;
  }
  .paralalax-mob {
    display: block;
  }
}
